#site {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#siteTitle {
    font-size: 30pt;
    font-weight: 900;
    height: 100px;
}

#siteMenuArea {
    border-top: solid 2px black;
}