#snsPageL {
   width: 50px;
   height: 100%;
   position: fixed;
   top: 0px;
   left: 0px;
}
#snsPageR {
   width: 50px;
   height: 100%;
   position: fixed;
   top: 0px;
   right: 0px;
}
#snsPageL:hover,
#snsPageR:hover {
   background-color: #ffffffaa;
}
#snsBlankArea {
   height: 125px;
}
#snsWriteArea {
   width: 100%;
   position: fixed;
   left: 0px;
   bottom: 49px;
}
#snsWriteArea2 {
   background-color: #ffffffaa;
}
#snsWriteArea2 input {
   width: 600px;
   height: 20px;
   border: none;
   background-color: transparent;
   padding: 3px;
}
#snsWriteArea2 textarea {
   width: 600px;
   height: 60px;
   border: none;
   background-color: transparent;
   padding: 3px;
}
#snsWriteArea2 img {
   width: 25px;
   margin: 5px;
   cursor: pointer;
}
.aSNSPost {
   width: 900px;
   margin-bottom: 20px;
   color: black;
}

.aSNSPost .titleTdTbl {
   width: 100%;
}
.aSNSPost .titleTdTbl img {
   cursor: pointer;
}
.aSNSPost .folderImg {
   width: 20px;
   margin: 5px;
}
.aSNSPost .writerTd {
   padding-bottom: 7px;
   font-weight: 900;
   color: white;
}
.aSNSPost .contentTd {
   background-color: #ffffffdd;
}
.aSNSPost .contentTdTbl {
   width: 100%;
}
.aSNSPost .imgTd {
   width: 120px;
   border-right: gray solid 3px;
}
.aSNSPost .imgTd img {
   max-width: 100px;
}
.aSNSPost .dateTd {
   font-size: 9pt;
   padding-right: 5px;
}
.aSNSPost .txtTd {
   font-size: 11pt;
   padding: 15px;
   font-family: "djdg";
}
.aSNSPost .replyTd {
   padding: 20px;
}
