<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Title -->
        <title> 제목 </title>

        <!-- Import -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.canvasjs.com/ga/canvasjs.stock.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>

        <!-- JS -->
        <script>

        </script>

        <!-- CSS -->
        <style>

        </style>

    </head>

    <!-- body -->
    <body>

    </body>

    </html>